<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="converter">
            <h2><span jhiTranslate="validationRulesApp.converter.detail.title">Converter</span> {{ converter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="validationRulesApp.converter.converterCode">Converter Code</span></dt>
                <dd>
                    <span>{{ converter.converterCode }}</span>
                </dd>
                <dt><span jhiTranslate="validationRulesApp.converter.description">Description</span></dt>
                <dd>
                    <span>{{ converter.description }}</span>
                </dd>
                <dt><span jhiTranslate="validationRulesApp.converter.beanName">Bean Name</span></dt>
                <dd>
                    <span>{{ converter.beanName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/converter', converter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
