<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rvOperatorParam">
            <h2><span jhiTranslate="rulesValidatorApp.rvOperatorParam.detail.title">Rv Operator Param</span> {{ rvOperatorParam.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rulesValidatorApp.rvOperatorParam.name">Name</span></dt>
                <dd>
                    <span>{{ rvOperatorParam.name }}</span>
                </dd>
                <dt><span jhiTranslate="rulesValidatorApp.rvOperatorParam.description">Description</span></dt>
                <dd>
                    <span>{{ rvOperatorParam.description }}</span>
                </dd>
                <dt><span jhiTranslate="rulesValidatorApp.rvOperatorParam.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'rulesValidatorApp.RvParamType.' + rvOperatorParam.type }}">{{ rvOperatorParam.type }}</span>
                </dd>
                <dt><span jhiTranslate="rulesValidatorApp.rvOperatorParam.operator">Operator</span></dt>
                <dd>
                    <div *ngIf="rvOperatorParam.operatorId">
                        <a [routerLink]="['/rv-operator', rvOperatorParam.operatorId, 'view']">{{ rvOperatorParam.operatorId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rv-operator-param', rvOperatorParam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
