<div>
    <h2 id="page-heading">
        <span jhiTranslate="rulesValidatorApp.rvRuleGroup.home.title">Rv Rule Groups</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rv-rule-group" [routerLink]="['/rv-rule-group/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rulesValidatorApp.rvRuleGroup.home.createLabel">
            Create a new Rv Rule Group
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rvRuleGroups?.length === 0">
        <span jhiTranslate="rulesValidatorApp.rvRuleGroup.home.notFound">No rvRuleGroups found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rvRuleGroups && rvRuleGroups.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ruleGroupName"><span jhiTranslate="rulesValidatorApp.rvRuleGroup.ruleGroupName">Rule Group Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let rvRuleGroup of rvRuleGroups ;trackBy: trackId">
                    <td><a [routerLink]="['/rv-rule-group', rvRuleGroup.id, 'view']">{{ rvRuleGroup.id }}</a></td>
                    <td>{{ rvRuleGroup.ruleGroupName }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rv-rule-group', rvRuleGroup.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rv-rule-group', rvRuleGroup.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rvRuleGroup)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
