<div>
    <h2 id="page-heading">
        <span jhiTranslate="rulesValidatorApp.rule.home.title">Rules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rule" [routerLink]="['/rule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rulesValidatorApp.rule.home.createLabel">
            Create a new Rule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rules?.length === 0">
        <span jhiTranslate="rulesValidatorApp.rule.home.notFound">No rules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rules && rules.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ruleCode"><span jhiTranslate="rulesValidatorApp.rule.ruleCode">Rule Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="rulesValidatorApp.rule.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mode"><span jhiTranslate="rulesValidatorApp.rule.mode">Mode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="operatorId"><span jhiTranslate="rulesValidatorApp.rule.operator">Operator</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let rule of rules ;trackBy: trackId">
                    <td><a [routerLink]="['/rule', rule.id, 'view']">{{ rule.id }}</a></td>
                    <td>{{ rule.ruleCode }}</td>
                    <td>{{ rule.description }}</td>
                    <td jhiTranslate="{{ 'rulesValidatorApp.RuleMode.' + rule.mode }}">{{ rule.mode }}</td>
                    <td>
                        <div *ngIf="rule.operatorId">
                            <a [routerLink]="['/operator', rule.operatorId , 'view']" >{{ rule.operatorId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rule', rule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rule', rule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
